@import 'normalize/normalize';
@import 'tokens/functions';

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

body {
    margin: 0;
    font-family: fontFamily("primary-sans");
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: fontFamily("primary-serif");
    letter-spacing: letterSpacing("wide");
}

/* Nav styles inspired by this tutorial: https://codeburst.io/flexbox-building-a-navigation-part-2-2-6cc58b9d4173 */
.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    border-bottom: 1px solid color("b");
    padding: 0 0;
    background-color: color("color3");
}

.logo {
    text-align: center;
    margin-top: 15px;
    font-size: fontSize("xx-large");
    font-family: fontFamily("primary-serif")
}

.logo a {
    text-decoration: none;
    color: color("w");
}

.logo a:hover {
    color: color("color4");
}

nav {
    margin: 0 auto;
}

header ul li {
    display: inline-block;
    padding: 0 2em 0 0;
    font-size: fontSize("large");
}

header ul li a {
    text-decoration: none;
    color: color("color1");
}

header li a:active {
    color: color("b");
    border-bottom: 1px solid color("b");
    font-weight: fontWeight("light");
}

header li a:hover {
    color: color("color2");
}

footer {
    text-align: center;
    background-color: color("color1");
    color: color("color4");
    margin-top: auto;
}

footer ul {
    display: inline-block;
    list-style-type: none;
    line-height: lineHeight("xx-large");
    font-size: fontSize("large");
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: color("color4");
}

footer li a:active {
    color: color("b");
    border-bottom: 1px solid color("b");
    font-weight: fontWeight("light");
}

footer li a:hover {
    color: color("color3");
}

.copyright p {
    padding-bottom: 20px;
}



@media screen and (min-width: breakPoint("small")) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        height: 75px;
    }

    .logo {
        margin-top: 0;
        margin-left: 2em;
        height: 75px;
        display: table;
    }

    .logo span {
        display: table-cell;
        vertical-align: middle;
    }

    nav {
        align-self: center;
        margin: 0 0 0 auto;
    }

    header ul li {
        padding: 0 2.5em 0 0;
        font-size: fontSize("large");
    }

    footer {
        text-align: left;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .footer-nav {
        margin-left: 4em;
    }

    .footer-nav ul li {
        display: inline;
        padding-right: 3em;
    }

    .copyright {
        margin: auto 0 0 auto;
    }

    .copyright p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: breakPoint("medium")) {
    .header-container {
        margin: 0 auto;
    }

    .header-container,
    .footer-container {
        width: 900px;
    }

    header .header-container nav ul li:last-child {
        padding-right: 0;
    }
    
}

@media screen and (min-width: breakPoint("large")) {
    header {
        height: 150px;
    }

    .header-container,
    .footer-container {
        width: 1100px;
    }

    .footer-nav {
        font-size: fontSize("large")
    }

    .logo {
        font-size: fontSize("xxx-large");
        height: 150px;
        display: table;
    }

    .logo span {
        display: table-cell;
        vertical-align: middle;
    }
   
}