$colorMap: (
    color1: rgba(189, 195, 167, 1),
    color2: rgba(177, 171, 133, 1),
    color3: rgba(114, 121, 117, 1),
    color4: rgba(80, 74, 102, 1),
    color5: rgba(124, 137, 147, 1,),
    w: rgba(255, 255, 255, 1),
    b: rgba(0, 0, 0, 1),
);

$fontSizeMap: (
    xx-small:   .65em,
    x-small:    .8em,
    small:      .9em,
    medium:     1em,
    large:      1.25em,
    x-large:    1.5em,
    xx-large:   2em,
    xxx-large: 2.5em
    );

$fontWeightMap: (
    light:  300,
    medium: 400,
    heavy:  700
    );

$lineHeightMap: (
    x-small:        120%,
    small:          130%,
    medium:         140%,
    large:          155%,
    x-large:        165%,
    xx-large:       175%
    );

$letterSpacingMap: (
    normal: normal,
    wide: .05em,
    x-wide: .1em,
    xx-wide: .2em
    );

$fontFamilyMap: (
    primary-sans:           #{'Source Sans Pro', sans-serif},
    primary-serif:          #{'Playfair Display', serif},
    );

$spacingMap: (
    base:       20px,
    quadruple:  4,
    triple:     3,
    double:     2,
    single:     1,
    half:       .5,
    third:      .33333,
    quarter:    .25,
    fifth:      .2,
    eighth:     .125
    );

$breakPointMap: (
    xx-small:   320px,
    x-small:    480px,
    small:      786px,
    medium:     980px,
    large:      1280px,
    x-large:    1920px,
    xx-large:   2560px,
    xxx-large:  3840px
    );

$opacityMap: (
    lighest: .2,
    lighter: .4,
    medium: .5,
    heavy: .6,
    heavier: .8,
    heaviest: .9
)